<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>first Django website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Enter your Text Here</h1>
    <form action="/analyze">
        <textarea style="margin: 0px; width: 627px; height: 67px;" name='text'></textarea><br>
        <button type='submit'>analyze</button> <br>
        <input type="checkbox" name='removepunc'>Remove Punctuations</input> <br>
        <input type="checkbox" name='capital'>Full Capital</input> <br>
        <input type="checkbox" name='newline'>Remove new Lines</input> <br>
        <input type="checkbox" name='space'>Extra Space remove</input> <br>
</body>

</html>